<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, content)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/css/metodo.css}">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div class="block">
        <header>
            <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    MeToDo
                </div>
            </nav>
        </header>
    </div>
    <div class="block">
        <div th:replace="${content}"></div>
    </div>
    <div class="block">
        <footer class="footer">
            <div class="content has-text-centered">
                <div class="block">
                    <span th:text="#{label.footer.bysh1Nome}"></span>
                </div>
                <div class="block">
                    <a href="https://x.com/sh1_No_me" target="_blank">
                        <img th:src="@{/img/x/logo-black.png}" class="me-icon-20px" />
                    </a>
                    &nbsp;
                    <a href="https://github.com/sh1Nome/me-to-do" target="_blank">
                        <img th:src="@{/img/github/github-mark.svg}" class="me-icon-20px" />
                    </a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>