<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    th:fragment="layout (title, content)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/metodo.css}">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <script>
        const { createApp } = Vue
    </script>
    <header>
        <div>
            <h3>
                <a th:href="@{/}">MeToDo</a>
            </h3>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="button is-text" th:text="#{button.logout}"></button>
            </form>
        </div>
    </header>
    <div th:replace="${content}"></div>
    <footer>
        <span th:text="#{label.footer.bysh1Nome}"></span>
        <a href="https://x.com/sh1_No_me" target="_blank">
            <img th:src="@{/img/x/logo-black.png}" class="me-icon-20px" />
        </a>
        &nbsp;
        <a href="https://github.com/sh1Nome/me-to-do" target="_blank">
            <img th:src="@{/img/github/github-mark.svg}" class="me-icon-20px" />
        </a>
    </footer>
</body>

</html>