<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    th:fragment="layout (title, content)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" th:href="@{/css/uikit/customized-uikit.css}">
    <!-- UIkit JS -->
    <script th:src="@{/js/uikit/uikit.min.js}"></script>
    <script th:src="@{/js/uikit/uikit-icons.min.js}"></script>
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;
    </script>
</head>

<body>
    <header class="uk-margin" uk-sticky>
        <nav class="uk-navbar-container">
            <div class="uk-container uk-container-expand">
                <div uk-navbar>
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-item uk-logo" th:text="#{label.header.logo}" th:href="@{/}"></a>
                    </div>
                    <!-- レスポンシブPCここから -->
                    <div class="uk-navbar-right uk-visible@m">
                        <a class="uk-navbar-item uk-link-reset" href="https://github.com/sh1Nome/me-to-do"
                            uk-icon="icon: github" target="_blank"></a>
                        <a class="uk-navbar-item uk-link-reset" href="https://x.com/sh1_No_me" uk-icon="icon: x"
                            target="_blank"></a>
                        <div class="uk-navbar-item" sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="uk-button uk-button-link">
                                    <span uk-icon="icon: sign-out"></span>
                                    <span th:text="#{button.logout}"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- レスポンシブPCここまで -->
                    <!-- レスポンシブモバイルここから -->
                    <div class="uk-navbar-right uk-hidden@m">
                        <a class="uk-navbar-toggle uk-navbar-toggle-animate" uk-navbar-toggle-icon uk-toggle
                            href="#header-toggle"></a>
                        <div id="header-toggle" uk-offcanvas="flip: true">
                            <div class="uk-offcanvas-bar">
                                <button class="uk-offcanvas-close" type="button" uk-close></button>
                                <ul class="uk-nav uk-nav-primary uk-nav-large">
                                    <li sec:authorize="isAuthenticated()">
                                        <form th:action="@{/logout}" method="post">
                                            <button type="submit" class="uk-button uk-button-link">
                                                <span uk-icon="icon: sign-out"></span>
                                                <span th:text="#{button.logout}"></span>
                                            </button>
                                        </form>
                                    </li>
                                    <li class="uk-nav-divider" sec:authorize="isAuthenticated()"></li>
                                    <li>
                                        <a class="uk-link-reset" href="https://github.com/sh1Nome/me-to-do"
                                            uk-icon="icon: github" target="_blank"></a>
                                    </li>
                                    <li>
                                        <a class="uk-link-reset" href="https://x.com/sh1_No_me" uk-icon="icon: x"
                                            target="_blank"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- レスポンシブモバイルここまで -->
                </div>
            </div>
        </nav>
    </header>
    <div th:replace="${content}"></div>
</body>

</html>